$btn-color-success: #00c9a7;
$btn-color-success-light: #2ee59d;
$secondary-color: #008e9b;
$primary-color: rgb(238, 238, 238);
$theme-color: rgb(0, 142, 155);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

h3 {
  font-size: 36px;
  line-height: 32px;
}

h4 {
  font-size: 30px;
  line-height: 28px;
}

h5 {
  font-size: 26px;
  line-height: 22px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

// FORM COMPONENTS

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $btn-color-success !important;
}

// Scroll-bar style
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: black;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $secondary-color;
}

.form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin: auto;
    width: 300px;
    display: block;
    padding: 12px;
    margin: 18px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    &:focus {
      border-bottom: 2px solid $btn-color-success;
      color: $btn-color-success;
      font-size: 1.5rem;
    }
  }

  .notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding-top: 8px;
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }

  .agreement-notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding: 12px;
    margin: 12px;
  }
}

//BUTTONS
.btn-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-btn {
  width: 150px;
  font-family: monospace;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: $theme-color;
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $btn-color-success;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

.logout-btn {
  width: 100px;
  height: 30px;
  &:hover {
    background-color: salmon;
    box-shadow: none;
    transform: none;
  }
}
.form-input-error {
  color: red;
  font-family: monospace;
}
