$btn-color-success: #00c9a7;
$btn-color-success-light: #2ee59d;
$secondary-color: #008e9b;
$shopping-btn: #009ace;
$primary-color: rgb(238, 238, 238);
$theme-color: rgb(0, 142, 155);
$inactive-color: #999999;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:900&display=swap");

$roboto: "Roboto", sans-serif;
$hebo: "Hebo", sans-serif;

// General heading styles

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: $hebo;
  font-size: 40px;
  line-height: 38px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

h3 {
  font-size: 36px;
  line-height: 32px;
}

h4 {
  font-size: 30px;
  line-height: 28px;
}

h5 {
  font-size: 26px;
  line-height: 22px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

// Scroll-bar style
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: black;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $secondary-color;
}

// FORM COMPONENTS

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $btn-color-success !important;
}

.form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin: auto;
    width: 300px;
    display: block;
    padding: 12px;
    margin: 18px 0;
    border: 2px solid black;
    outline: none;
    &:focus {
      border: 2px solid $btn-color-success;
      color: $btn-color-success;
      font-size: 1.5rem;
    }
  }

  .notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding-top: 8px;
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }

  .agreement-notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding: 12px;
    margin: 12px;
  }
}

//BUTTONS
.btn-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-btn {
  width: 150px;
  font-family: monospace;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: $theme-color;
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $btn-color-success;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

.logout-btn {
  width: 100px;
  height: 30px;
  &:hover {
    background-color: salmon;
    box-shadow: none;
    transform: none;
  }
}
.form-input-error {
  color: red;
  font-family: monospace;
}

// THEME BUTTON
.theme-btn {
  position: relative;
  height: 60px;
  width: 280px;
  color: whitesmoke;
  background-color: whitesmoke;
  font-family: $hebo;
  font-size: 26px;
  border: none;
  .btn-content-wrapper {
    display: flex;
    justify-content: center;
    p {
      text-transform: uppercase;
      z-index: 50;
      font-weight: 600;
    }
  }
  .btn-background-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0%;
    height: 100%;
    z-index: 40;
    background-color: whitesmoke;
    transition: width 0.4s ease-in-out 0s;
  }
  .btn-background-overlay2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    z-index: 40;
    background-color: black;
    transition: width 0.4s ease-in-out 0s;
  }
  .btn-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
  }
  &:hover {
    font-weight: 600;
    background-color: black;
  }
  &:hover .btn-background-overlay {
    width: 100%;
  }
  &:hover .btn-background-overlay2 {
    width: 100%;
  }
}

// CONTAINER to hold product items
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
}

// Product Card Component
.product-card-component {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  margin: 10px 1px;
  width: 24%;
  transition: all 0.3s ease-in-out 0s;
  .product-image-container {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 25vh;
      object-fit: cover;
    }
  }
  .product-detail-container {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    .product-detail-text {
      display: flex;
      font-family: $hebo;
      color: $inactive-color;
      font-size: 14px;
      font-weight: 400;
    }
    .product-detail-price {
      display: flex;
      color: $inactive-color;
      font-family: $roboto;
      line-height: 1.8;
      font-size: 14px;
      margin: 8px 0;
    }
  }
  .product-detail-button {
    background-color: $secondary-color;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin: 18px;
  }
}

@media (max-width: 1024px) {
  .product-card-component {
    .product-image-container {
      img {
        height: 250px;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-card-component {
    width: 47%;
    .product-image-container {
      img {
        height: 300px;
      }
    }
  }
}
@media (max-width: 576px) {
  .product-card-component {
    .product-image-container {
      img {
        height: 200px;
      }
    }
  }
}
.product-card-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.product-card-component:hover .product-card-overlay {
  opacity: 1;
}

.product-card-component:hover {
  transform: scale(1.02);
}

// to set bootstrap modal width
.modal-90w {
  min-width: 90%;
}

//PRODUCT CARD COMPONENT MODAL
.product-modal {
  display: flex;
  .product-modal-img {
    margin: 10px;
    z-index: 99;
    img {
      width: 800px;
      height: auto;
    }
  }
  .product-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .product-modal-description {
      margin: 10px;
      font-weight: 400;
      font-family: monospace;
      font-size: 15px;
    }
    .product-modal-btns {
      align-content: center;
      justify-content: center;
      .product-modal-btn {
        display: flex;
        flex-direction: row;
        font-family: $hebo;
        height: 50px;
        width: 200px;
        display: block;
        color: white;
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
        margin: 30px;
        color: white;
        background-color: gray;
      }
    }
  }
}
@media (max-width: 1350px) {
  .product-modal {
    .product-modal-img {
      img {
        width: 600px;
        height: auto;
      }
    }
  }
}
@media (max-width: 1100px) {
  .product-modal {
    .product-modal-img {
      img {
        width: 500px;
        height: auto;
      }
    }
  }
}

@media (max-width: 975px) {
  .product-modal {
    .product-modal-img {
      img {
        width: 400px;
        height: auto;
      }
    }
  }
}

@media (max-width: 858px) {
  .product-modal {
    flex-direction: column;
    .product-modal-img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

//Product Filters
.product-filter-component {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;

  //Dropdown select filters button
  .filter-dropdown {
    background-color: white;
    width: 200px;
    height: 100%;
    color: black;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: $roboto;
    box-shadow: none;
    &:hover {
      border-radius: 0;
    }
  }

  .check-items {
    width: 300px;
    label {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .sort-filter {
    margin-left: auto;
    align-self: center;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $roboto;
  }

  // CHECKBOX STYLE
  /* Customize the label (the container) */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 8px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $secondary-color;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

// Hide filter toggle button on bigger screen
.filter-toggle-button-wrapper {
  display: none;
}
.filter-wrapper-close-button {
  display: none;
}

@media (max-width: 759px) {
  .product-filter-component {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 83px;
    z-index: 80;
    background-color: whitesmoke;
    flex-direction: column;
    .filter-category {
      width: 100%;
      padding: 40px;
      .filter-dropdown {
        width: 100%;
        margin: 30px auto;
      }
    }
    // Overriding bootstrap dropdown menu
    .dropdown {
      button {
        padding: 20px;
      }
      .dropdown-menu {
        width: 100%;
      }
    }

    .check-items {
      margin: 20px auto;
      width: 180px;
      label {
        margin: 30px auto;
      }
    }
    .sort-filter {
      display: none;
    }
  }
  .hide {
    display: none;
  }
  // Open-close button for filter overlay
  .filter-toggle-button-wrapper {
    display: flex;
    position: sticky;
    top: 83px;
    background-color: whitesmoke;
    z-index: 50;
    padding: 10px 0;
    justify-content: space-evenly;
    .filter-button {
      height: 40px;
      width: 100px;
      font-size: 1.1rem;
      border: none;
      border-radius: 4px;
      background-color: $secondary-color;
      color: whitesmoke;
    }
  }
  //  Button to close mobile filter overlay
  .filter-wrapper-close-button {
    margin-top: 50px;
    display: block;
    align-self: center;
    button {
      background-color: none;
      border: none;
      width: 80px;
      height: 80px;
      i {
        font-size: 2.3rem;
      }
    }
  }
}

// CART COMPONENT
.cart-item-component {
  max-width: 900px;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  // flex container for cart items
  .cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // image container
    .cart-item-img-container {
      position: relative;
      cursor: pointer;
      transition: transform 0.5s ease-in-out 0s;
      .cart-item-img-overlay {
        position: absolute;
        background-color: rgba(white, 0.2);
        transition: opacity 0.5s ease-in-out 0s;
        height: 100%;
        width: 100%;
        opacity: 0;
        .cart-item-modal-button {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          color: white;
          font-size: 3rem;
        }
      }
      &:hover .cart-item-img-overlay {
        opacity: 1;
      }

      .cart-item-img {
        width: 280px;
        height: 280px;
        object-fit: cover;
      }
    }
    &:hover .cart-item-img-container {
      transform: scale(1.03);
    }
    // container contains name and color
    .cart-item-description {
      width: 300px;
      align-self: center;
      font-weight: 600;
      text-align: center;
      text-align: start;
      padding: 20px;
      line-height: 1.4rem;
      .cart-item-name {
        font-size: 1.1rem;
        font-family: $hebo;
        text-transform: uppercase;
        text-decoration: underline;
      }
      .cart-item-color {
        font-family: monospace;
        font-size: 1.2rem;
      }
    }
    // container contains price and quantity
    .cart-item-controls {
      line-height: 28px;
      margin-top: -48px;
      .cart-item-count {
        font-weight: 600;
        font-family: $roboto;
      }
      .cart-item-edit {
        padding: 10px;
        border: none;
        background-color: inherit;
        font-size: 1.3rem;
        outline: none;
        &:hover {
          color: $shopping-btn;
        }
      }
      .cart-item-price {
        font-family: monospace;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    // contains remove and wishlist actions
    .cart-item-actions {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      .cart-item-remove {
        padding: 10px;
        border: none;
        background-color: inherit;
        font-size: 1.3rem;
        outline: none;
        &:hover {
          color: tomato;
        }
      }
      .cart-item-wishlist {
        padding: 10px;
        border: none;
        background-color: inherit;
        font-size: 1.3rem;
        outline: none;
        &:hover {
          color: palevioletred;
        }
      }
    }
  }
}

// for cart items
@media (max-width: 731px) {
  .cart-item-component {
    max-width: 550px;
  }
}

@media (max-width: 595px) {
  .cart-item-component {
    .cart-item-container {
      justify-content: center;
      margin: auto;
      flex-direction: column;
      padding: 20px;
      .cart-item-img-container {
        .cart-item-img-overlay {
          background-color: rgba(0, 0, 0, 0);
          opacity: 1;
          .cart-item-modal-button {
            position: absolute;
            border: none;
            border-radius: 99px;
            font-size: 1.6rem;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            margin: 8px;
            color: black;
            background-color: white;
          }
        }
      }
      // // container contains price and quantity
      .cart-item-controls {
        margin-top: 8px;
        .cart-item-edit {
          padding: 10px;
          font-size: 1.5rem;
          border: none;
          background-color: inherit;
          &:hover {
            color: palevioletred;
          }
        }
      }

      .cart-item-actions {
        display: flex;
        align-self: flex-end;
        flex-direction: column-reverse;
        margin-top: -64px;
        .cart-item-remove {
          padding: 10px;
          font-size: 1.5rem;
          border: none;
          background-color: inherit;
          &:hover {
            color: tomato;
          }
        }
        .cart-item-wishlist {
          padding: 10px;
          font-size: 1.5rem;
          border: none;
          background-color: inherit;
          &:hover {
            color: palevioletred;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .cart-item-component {
    max-width: 280px;
    width: auto;
    .cart-item-container {
      justify-content: center;
      margin: auto;
      flex-direction: column;
      .cart-item-img-container {
        .cart-item-img {
          width: 230px;
          height: 230px;
          object-fit: cover;
        }
      }
    }
  }
}

// Cart Summary component
.cart-summary-component {
  border: 1px solid black;
  height: auto;
  width: 400px;
  height: 400px;
  margin: 20px;
  .summary-heading {
    line-height: 18px;
    font-size: 25px;
    font-weight: 800;
    font-family: $hebo;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 40px;
  }
  .summary-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    font-family: monospace;
    .summary-item {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      padding: 6px;
    }
    .underline {
      border-bottom: 1px solid black;
    }
    .StripeCheckout {
      width: 200px;
      margin: 30px auto;
    }
  }
}

@media (max-width: 595px) {
  .cart-summary-component {
    width: auto;
    .summary-heading {
      line-height: 2rem;
    }
  }
}
