$btn-color-success: #00c9a7;
$btn-color-success-light: #2ee59d;
$secondary-color: #008e9b;
$shopping-btn: #009ace;
$primary-color: rgb(238, 238, 238);
$theme-color: rgb(0, 142, 155);
$inactive-color: #999999;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:900&display=swap");

$roboto: "Roboto", sans-serif;
$hebo: "Hebo", sans-serif;

// General heading styles

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: $hebo;
  font-size: 40px;
  line-height: 38px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  line-height: 38px;
}

h3 {
  font-size: 36px;
  line-height: 32px;
}

h4 {
  font-size: 30px;
  line-height: 28px;
}

h5 {
  font-size: 26px;
  line-height: 22px;
}

h6 {
  font-size: 20px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

// Scroll-bar style
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: black;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $secondary-color;
}

// FORM COMPONENTS

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $btn-color-success !important;
}

.form-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin: auto;
    width: 300px;
    display: block;
    padding: 12px;
    margin: 18px 0;
    border: 2px solid black;
    outline: none;
    &:focus {
      border: 2px solid $btn-color-success;
      color: $btn-color-success;
      font-size: 1.5rem;
    }
  }

  .notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding-top: 8px;
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }

  .agreement-notice {
    font-family: monospace;
    letter-spacing: 0.4px;
    width: 280px;
    padding: 12px;
    margin: 12px;
  }
}

//BUTTONS
.btn-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-btn {
  width: 150px;
  font-family: monospace;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: $theme-color;
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $btn-color-success;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

.logout-btn {
  width: 100px;
  height: 30px;
  &:hover {
    background-color: salmon;
    box-shadow: none;
    transform: none;
  }
}
.form-input-error {
  color: red;
  font-family: monospace;
}

// CONTAINER to hold product items
.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

// Product Card Component
.product-card-component {
  display: flex;
  flex-direction: column;
  margin: 1%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 30%;
  .product-image-container {
    position: relative;
    img {
      max-width: 100%;
      max-height: 550px;
      object-fit: cover;
    }
  }
  .product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-detail-text {
    margin-top: 20px;
    font-family: $roboto;
    color: $inactive-color;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
  }
  .product-detail-price {
    color: $inactive-color;
    font-family: monospace;
    margin-bottom: 32px;
  }
  .product-detail-button {
    background-color: $secondary-color;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin: 18px;
  }
}

@media (max-width: 751px) {
  .product-card-component {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .product-card-component {
    width: 70%;
  }
}

.product-card-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card-component:hover .product-card-overlay {
  opacity: 1;
}

// CART COMPONENT
.cart-item-component {
  max-width: 900px;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  // flex container for cart items
  .cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // image container
    .cart-item-img-container {
      position: relative;
      cursor: pointer;
      .cart-item-img-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease-in-out 0s;
        height: 100%;
        width: 100%;
        opacity: 0;
        .cart-item-modal-button {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          color: white;
          font-size: 3rem;
        }
      }
      &:hover .cart-item-img-overlay {
        opacity: 1;
      }
      .cart-item-img {
        width: 280px;
        height: 280px;
        object-fit: cover;
      }
    }
    // container contains name and color
    .cart-item-description {
      width: 300px;
      align-self: center;
      font-weight: 600;
      text-align: center;
      text-align: start;
      padding: 20px;
      line-height: 1.4rem;
      .cart-item-name {
        font-size: 1.1rem;
        font-family: $hebo;
        text-transform: uppercase;
        text-decoration: underline;
      }
      .cart-item-color {
        font-family: monospace;
        font-size: 1.2rem;
      }
    }
    // container contains price and quantity
    .cart-item-controls {
      .cart-item-price {
        font-family: monospace;
        font-size: 1.2rem;
      }
    }
    // contains remove and wishlist actions
    .cart-item-actions {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      .cart-item-remove {
        padding: 10px;
        border: none;
        background-color: inherit;
        &:hover {
          color: tomato;
        }
      }
      .cart-item-wishlist {
        padding: 10px;
        border: none;
        background-color: inherit;
        &:hover {
          color: palevioletred;
        }
      }
    }
  }
}

// for cart items
@media (max-width: 731px) {
  .cart-item-component {
    max-width: 550px;
  }
}

@media (max-width: 595px) {
  .cart-item-component {
    .cart-item-container {
      max-width: 500px;
      justify-content: center;
      margin: auto;
      flex-direction: column;
      .cart-item-img-container {
        .cart-item-img-overlay {
          background-color: rgba(0, 0, 0, 0);
          opacity: 1;
          .cart-item-modal-button {
            position: absolute;
            border: none;
            border-radius: 99px;
            font-size: 1.6rem;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            margin: 8px;
            color: black;
            background-color: white;
          }
        }
      }

      .cart-item-actions {
        align-self: flex-end;
        display: flex;
        flex-direction: column-reverse;
        .cart-item-remove {
          padding: 10px;
          border: none;
          background-color: inherit;
          &:hover {
            color: tomato;
          }
        }
        .cart-item-wishlist {
          padding: 10px;
          border: none;
          background-color: inherit;
          &:hover {
            color: palevioletred;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .cart-item-component {
    max-width: 280px;
    width: auto;
    .cart-item-container {
      justify-content: center;
      margin: auto;
      flex-direction: column;
      .cart-item-img-container {
        .cart-item-img {
          width: 180px;
          height: 180px;
          object-fit: cover;
        }
      }
    }
  }
}

// Cart Summary component
.cart-summary-component {
  border: 1px solid black;
  height: auto;
  width: 400px;
  height: 400px;
  margin: 20px;
  .summary-heading {
    line-height: 18px;
    font-size: 25px;
    font-weight: 800;
    font-family: $hebo;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 40px;
  }
  .summary-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    font-family: monospace;
    .summary-item {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      padding: 6px;
    }
    .underline {
      border-bottom: 1px solid black;
    }
    .StripeCheckout {
      width: 200px;
      margin: 30px auto;
    }
  }
}

@media (max-width: 595px) {
  .cart-summary-component {
    width: auto;
    .summary-heading {
      line-height: 2rem;
    }
  }
}
