$primary-color: rgb(238, 238, 238);
$secondary-color: #008e9b;
$btn-color-success: #00c9a7;
$btn-color-success-light: #2ee59d;
$shopping-btn: #009ace;
$primary-color: rgb(238, 238, 238);
$theme-color: rgb(0, 142, 155);
$inactive-color: #999999;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:900&display=swap");

$roboto: "Roboto", sans-serif;
$hebo: "Hebo", sans-serif;

* {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  line-height: 30px;
}

// Navigation container
.nav-container {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.nav-contents > ul {
  max-width: 1500px;
  margin: auto;
  list-style-type: none;
  height: auto;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  img {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
      brightness(95%) contrast(80%);
    object-fit: scale-down;
    width: 80px;
    height: 80px;
    margin-left: 30px;
  }
  li {
    &:first-child {
      margin-right: auto;
    }
  }
  li.burger-nav {
    i {
      display: none;
    }
  }
  div {
    align-self: center;
    li {
      display: inline-block;
      padding: 0 20px;
      a {
        font-family: $hebo;
        font-size: 16px;
        font-weight: 200;
        color: white;
        padding-bottom: 5px;
        text-decoration: none;
        &.current {
          border-bottom: 6px solid $secondary-color;
        }
        &:hover {
          border-bottom: 6px solid $secondary-color;
        }
      }
    }
  }
}

// Mobile nav
@media (max-width: 576px) {
  .nav-contents > ul {
    display: block;

    // Navigation links
    .nav-links {
      display: block;
      li {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 80px;
        border-bottom: 0.4px solid $secondary-color;

        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: 8px solid $secondary-color;
        }
      }
    }

    // Shoe Icon
    .brand-icon {
      transform: scale(0.7);
      text-align: center;
    }

    // Icons
    .nav-icons {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      align-items: flex-start;
      padding-top: 30px;
      i {
        font-size: 1.3rem;
      }
    }
    // For menu toggle
    .hidden {
      display: none;
    }
    // Burger nav selector
    li.burger-nav {
      i {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        color: white;
        padding: 22px;
        font-size: 1.7rem;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// LOGIN PAGE
.login-page {
  margin-top: 60px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  h6 {
    margin: 40px;
  }
}

.dashboard-page {
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 999px;
  }
}

.home-page {
  position: relative;

  .promo-video-wrapper {
    margin-top: -100px;
    height: 120vh;
    width: 100%;
    position: relative;
    .promo-video-overlay-content {
      position: absolute;
      bottom: 20%;
      z-index: 100;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        height: 60px;
        width: 300px;
        color: $secondary-color;
        background-color: white;
        font-family: $hebo;
        font-size: 26px;
        border: none;
        i {
          font-size: 1rem;
        }
      }
    }
  }

  .jumbotron-primary {
    margin-top: -60px;
    margin-bottom: -3px;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      position: relative;
      margin: 0;
    }

    button {
      z-index: 100;
      top: 50%;
      left: 50%;
      color: green;
      width: 200px;
      position: absolute;
    }
  }

  .jumbotron-secondary {
    margin: auto;
    img {
      margin: auto;
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// Collection-page

.collection-page {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 30px auto;
  .collection-title {
    margin-left: 100px;
  }
}

// CART PAGE
.cart-page {
  max-width: 1500px;
  margin: 30px auto;
  .cart-title {
    margin-left: 100px;
  }
  .cart-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
